= audio_tag('/mirrors.mp3', autoplay: true, loop: true, class: 'background-music')
.mute-icon
  .fas.fa-volume-up.fa-lg
.row.logo-container
  .offset-md-3.col-md-6.offset-1.col-10
    = image_tag('morale-logo.png', class: 'logo align-bottom')
.social-media
  .fab.fa-facebook-square.social-media-logo.fa-2x
  .fab.fa-twitter.social-media-logo.fa-2x
  .fab.fa-instagram.social-media-logo.fa-2x
  .fab.fa-apple.social-media-logo.fa-2x
  .fab.fa-spotify.social-media-logo.fa-2x
  .fab.fa-youtube.social-media-logo.fa-2x
