// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0 !important;
  padding: 0 !important;
}

#overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/black-tv-static.gif');
  background-size: cover;
}

.mute-icon {
  width: 24px;
}

.logo-container {
  height: 30vh;
}

.logo {
  width: 95%;
  position: absolute;
  bottom: 0;
}

.social-media {
  padding-top: 20px;
  width: 300px;
  margin: 0 auto;
}

.social-media-logo {
  color: white;
  margin-left: 15px;
}

.social-media-link {
  text-decoration: none !important;
}

.fas {
  color: white;
}

.mute-icon {
  position: absolute;
  top: 1%;
  left: 1%;
}

.mail-list {
  color: white;
  width: 200px;
  margin: 0 auto;
  margin-top: 50vh;
  text-align: center;
}

.mail-modal, .mail-modal:hover {
  text-decoration: none !important;
  color: white;
}
